.global-home-grid {
  display: grid;
  grid-template-columns: [start-nav] 200px [end-nav] 1fr [content-end];
  height: 100%;
  z-index: 10;
}

/* .global-home-grid {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: [nav-start] 200px [nav-end] 1fr [content-end];
  grid-template-rows: [full-height-start] 1fr [full-height-end];
  overflow: hidden;
}

.global-home-grid > .nav {
  grid-row: full-height-start / full-height-end;
  grid-column: nav-start / nav-end;
  overflow-y: auto;
  overflow-x: hidden;
}

.global-home-grid > .content {
  grid-row: full-height-start / full-height-end;
  grid-column: nav-end / content-end;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 10px;
}

/* src/styles/home-styles.css */

.content {
  padding: 10px;
  overflow-x: scroll;
}

.nav {
  position: sticky;
  top: 0;
  z-index: 8;
  height: 100vh;
  transition: transform 1s;
  grid-column: start-nav / end-nav;
}

.nav > ul {
  width: 190px;
  top: 0;
  position: fixed;

  background-color: white;
}

.home-container {
  background-image: url("../../../../src/assets/home.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  overflow: hidden; /* Asegura que no haya desbordamiento innecesario */
}

.expand-nav-button {
  position: fixed;
  right: 0;
  z-index: 7;

  display: none;

  margin: 10px;

  background-color: white;
}

.nav-overlay {
  position: fixed;
  width: 100vw;
  left: 0;
  top: 0;
  z-index: 9;
  height: 100vh;

  background-color: rgba(101, 37, 161, 0.452);

  opacity: 0;
}

.--hide-overlay {
  display: none;
}

.--show-overlay {
  display: fixed;
  opacity: 1;
}

.--expand-nav {
  transform: translate(0);
}

.--collapse-nav {
  transform: translate(-300px);
}

@media (width < 670px) {
  .content {
    grid-column: start-nav / content-end;
  }
  .nav {
    position: fixed;
    z-index: 10;
  }

  .expand-nav-button {
    display: block;
  }
}

@media (width > 670px) {
  .nav {
    transform: translate(0);
  }
  .nav-overlay {
    display: none;
  }
}
