.menu{
    position: sticky;
    top: 0;
    left: 0;

    z-index: 100;
}
.nav-user-form{
    position: fixed;

    display: flex;
    justify-content: end;

    width: 100vw;
    height: 60px;

    padding: 10px;
    gap: 10px;

    background-color: white;
}

.edition-menu{
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 300px;
}